<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.diet.model.dao.ImgFileDao">
	<select id="selectFile" parameterType="String" resultType="ImgFile">
		SELECT * FROM userImg
		WHERE fileName = #{fileName};
	</select>
	
	<insert id="insertFile" parameterType="ImgFile">
		INSERT INTO userImg
		VALUES (#{fileName}, #{type}, #{imageData})
	</insert>

</mapper>