<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.diet.model.dao.UserDao">
	<select id="selectById" parameterType="String" resultType="User">
		SELECT * FROM user
		WHERE userId = #{userId};
	</select>
	
	<select id="selectByName" parameterType="String" resultType="User">
		SELECT * FROM user
		WHERE userName LIKE CONCAT("%" ,#{userName}, "%");
	</select>
	
	<insert id="insert" parameterType="User">
		INSERT INTO user (userId, userName, userPass, userSex, exerciseType, startKcal, remainKcal, userImg)
		VALUES(#{userId}, #{userName}, #{userPass}, #{userSex}, #{exerciseType}, #{startKcal}, #{remainKcal}, #{userImg});
	</insert>
	
	<select id="selectByIdUnSensitive" parameterType="String" resultType="User">
		SELECT userId, userName, userSex, startKcal, remainKcal, userImg
		FROM user
		WHERE userId = #{userId};
	</select>
	
	<update id="update" parameterType="User">
		UPDATE user
		SET userPass = #{userPass}, userName = #{userName}, remainKcal = #{remainKcal}, userImg = #{userImg}
		WHERE userId = #{userId};
	</update>
	
	<delete id="delete" parameterType="String">
		DELETE FROM user
		WHERE userId = #{userId}
	</delete>
</mapper>